// colors
$faded-grey :#6A5C5C;
$normai-white:#ffffff;





// font-weight
$thin-100 : 100;
$light-300 : 300;
$regular-400 : 400;
$medium-500  :500;
$semi-bold-600 : 600;
$bold : 700;
$extra-bold-800 :800;
$boldest-900 :900;



// font-sizes
$small-14 : 14px;
