*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

body {
  line-height: 1;
  width: 100;
  background-color: #0000002e;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex__aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex__acc {
  -ms-flex-line-pack: center;
      align-content: center;
}

.flex__jic {
  justify-items: center;
}

.flex__jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex__aifs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex__aife {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex__acfs {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.flex__acfe {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.flex__fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex__fdr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.line__loader {
  width: 30%;
  height: 3px;
  position: relative;
  background-color: #212020a4;
  overflow: hidden;

}

.line__loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: #0dd0fc;
  -webkit-animation: slider-line 1.2s ease-in-out alternate infinite;
          animation: slider-line 1.2s ease-in-out alternate infinite;
}

@-webkit-keyframes slider-line {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    width: 40%;
  }
  50% {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
    width: 80%;
  }
  100% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    width: 20%;
  }
}

@keyframes slider-line {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    width: 40%;
  }
  50% {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
    width: 80%;
  }
  100% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    width: 20%;
  }
}

.test {
  display: none;
}
/*# sourceMappingURL=main.css.map */